* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  transition: background-color 200ms linear;
}

body {
  margin: 0;
}

main {
  padding: 0 1rem;
}

h1 {
  text-align: center;
}
