:root {
	/* Color theme variables */
	--backgroundColorDarkTheme: #1d4575;
	--textColorDarkTheme: #fefdfd;
	--buttonColorDarkTheme: #337dd6;
}

* {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
	margin: 0;
}

h1 {
	text-align: center;
}
